h {font-size: 33px;
    cursor: col-resize;
}

p{
    text-indent: 20px;
    font-size: 18px;
    text-align: justify;
}
h1 {
    text-align: center;
}
h2{
 font-size: 25px;
font-style: oblique;
text-decoration: underline;
}